@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&family=Roboto&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

html {
  font-size: 12px;
}

@media screen and (min-width: 600px) {
  html {
    font-size: 16px;
  }
}
body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

.card {
  margin: 20px;
  background-color: transparent;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}
.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}
.card__header {
  height: 250px;
  background-color: transparent;
  text-align: center;
  padding: auto;
}
.card__img {
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: center;
}
.card__body {
  padding: 1rem;
  flex-grow: 1;
  position: relative;
}
.card__title {
  padding-top: 1.5rem;
  font-weight: 400;
  font-size: 1.5rem;
  border-bottom: 2px solid #0070BB;
  text-align: center;
}
.card__description {
  padding: 2rem 0;
  align-items: center;
  justify-content: center;
  text-align: justify;
  line-height: 1.5;
}
.card__price {
  color: black;
  text-align: end;
  position: absolute;
  bottom: 0;
  right: 15px;
}
.card__footer {
  display: flex;
  justify-content: space-between;
}
.card__date {
  color: rgb(184, 174, 174);
  position: absolute;
  bottom: 0;
  left: 10px;
}
.card__btn-container {
  color: black;
  margin: 0.75rem;
}
.card__btn {
  padding: 8px;
  color: #0070BB;
  border: 1px solid #0070BB;
  border-radius: 4px;
  transition: all 400ms ease;
}
.card__btn:hover {
  background-color: #0070BB;
  color: white;
}
.card__btn-buy-container {
  margin: 0.75rem;
}
.card__btn-buy {
  padding: 8px;
  color: #0070BB;
  border: 1px solid #0070BB;
  border-radius: 4px;
  transition: all 400ms ease;
}
.card__btn-buy:hover {
  background-color: #0070BB;
  color: white;
}
.card__btn-buy .card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

.whatsapp-container {
  position: fixed;
  right: 15px;
  bottom: 50px;
}
.whatsapp-container__img {
  width: 75px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar {
  height: 50px;
  background-color: #0070BB;
  display: flex;
  align-items: center;
  position: relative;
}
.navbar__logo {
  height: 45px;
}
.navbar__menu-label {
  color: rgb(184, 73, 178);
  height: 42%;
  background-color: aquamarine;
  width: 44px;
  margin-right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar__menu-btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
}
.navbar__menu-btn:checked ~ .navbar__nav-links-container {
  height: calc(100vh - 50px);
}
.navbar__menu-btn:checked ~ .navbar__menu-label .navbar__menu-icon {
  background: transparent;
}
.navbar__menu-btn:checked ~ .navbar__menu-label .navbar__menu-icon::after {
  transform: rotate(-45deg);
  top: 0;
}
.navbar__menu-btn:checked ~ .navbar__menu-label .navbar__menu-icon::before {
  transform: rotate(45deg);
  top: 0;
}
.navbar__menu-icon {
  height: 2px;
  background-color: orangered;
  width: 18px;
  position: relative;
}
.navbar__menu-icon::after, .navbar__menu-icon::before {
  content: "";
  height: 2px;
  background-color: orangered;
  position: absolute;
  width: 100%;
  transition: all 0.2s ease-out;
}
.navbar__menu-icon::after {
  top: 5px;
}
.navbar__menu-icon::before {
  top: -5px;
}
.navbar__nav-links-container {
  list-style: none;
  position: absolute;
  top: 50px;
  background-color: rgb(0, 119, 255);
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.navbar__nav-item {
  padding: 0.75rem 1rem;
}
.navbar__nav-link {
  color: white;
}

.user-navbar {
  margin-left: auto;
  color: white;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0 1rem;
}
.user-navbar__user-avatar {
  width: 40px;
}

@media screen and (min-width: 600px) {
  .navbar__menu-label, .navbar__menu-btn {
    display: none;
  }
  .navbar__nav-links-container {
    position: static;
    flex-direction: row;
    height: 100% !important;
    width: auto;
    background-color: #0070BB;
  }
  .user-navbar {
    order: 3;
  }
}
.main {
  margin-top: 50px;
  padding: 1.5rem 0;
  background-color: aliceblue;
  flex-grow: 1;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(184, 174, 174);
}
.footer__column {
  padding: 1rem 1.5 rem;
}
.footer__contact-item {
  list-style: none;
}
.footer__contact-link {
  color: white;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.footer__contact-icon {
  font-size: 1.5rem;
}
.footer__contact-icon--facebook {
  color: #058af0;
}
.footer__contact-icon--instagram {
  color: #df4b5a;
}
.footer__contact-icon--linkedln {
  color: #007aa5;
}

@media screen and (min-width: 600px) {
  .footer {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.section-cards__header {
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
}
.section-cards__title {
  font-family: cursive;
  color: #0070BB;
}
.section-cards__subtitle {
  font-size: 1rem;
  padding-left: 1rem;
}
.section-cards__category {
  padding: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
}
.section-cards__products-count {
  font-size: 0.75rem;
  padding-top: 0.5rem;
}
.section-cards__products-search-container {
  padding: 1rem;
}

.product-search__btn {
  border: 1px #0070BB;
  border-radius: 4px;
  padding: 1px 10px;
  background-color: #0070BB;
  color: white;
}
.product-search__label {
  font-size: 0.75rem;
}
.product-search__input {
  color: #0070BB;
  padding: 1px 10px;
  border: 1px solid #0070BB;
  border-radius: 4px;
  transition: all 400ms ease;
}
.product-search__input:hover {
  background-color: #0070BB;
  color: white;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

@media screen and (min-width: 1000px) {
  .section-cards__header {
    display: flex;
  }
}/*# sourceMappingURL=main.css.map */