@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&family=Roboto&display=swap");
.flex {
  display: flex;
}

.hidden {
  visibility: hidden;
}

.container {
  max-width: 1081px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.container [class*=-form] {
  padding: 2rem;
}

.container form[class*=-form] input:not([type=radio]) {
  width: 100%;
  font-size: 1.25rem;
  font-family: monospace;
  color: #0070BB;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 0.5rem;
  background: #333;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

html {
  font-size: 12px;
}

@media screen and (min-width: 600px) {
  html {
    font-size: 16px;
  }
}
body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

.card {
  margin: 20px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}
.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}
.card__header {
  height: 200px;
  background-color: transparent;
  text-align: center;
  padding: auto;
}
.card__img {
  height: 200px;
  object-fit: cover;
  text-align: center;
}
.card__body {
  padding: 1rem;
  flex-grow: 1;
  position: relative;
}
.card__title {
  padding-top: 1.5rem;
  font-weight: 400;
  font-size: 1.5rem;
  border-bottom: 2px solid #0070BB;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.card__description {
  padding: 2rem 0;
  align-items: center;
  justify-content: center;
  text-align: justify;
  line-height: 1.5;
}
.card__price {
  color: black;
  text-align: end;
  position: absolute;
  bottom: 0;
  right: 15px;
}
.card__footer {
  display: flex;
  justify-content: space-between;
}
.card__date {
  color: rgb(184, 174, 174);
  position: absolute;
  bottom: 0;
  left: 10px;
}
.card__btn-container {
  color: black;
  margin: 0.75rem;
}
.card__btn {
  padding: 8px;
  color: #0070BB;
  border: 1px solid #0070BB;
  border-radius: 4px;
  transition: all 400ms ease;
}
.card__btn:hover {
  background-color: #0070BB;
  color: white;
}
.card__btn-buy-container {
  margin: 0.75rem;
}
.card__btn-buy {
  padding: 8px;
  color: #0070BB;
  border: 1px solid #0070BB;
  border-radius: 4px;
  transition: all 400ms ease;
}
.card__btn-buy:hover {
  background-color: #0070BB;
  color: white;
}
.card__btn-buy .card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

.whatsapp-container {
  position: fixed;
  right: 25px;
  bottom: 220px;
}
.whatsapp-container__img {
  width: 70px;
  border-radius: 50%;
  transition: all 400ms easy;
}
.whatsapp-container__img:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-3%);
}

.alert-dialog {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(rgb(2, 0, 36), rgb(108, 144, 177));
  padding: 2rem 3rem;
  font-size: 1.25rem;
  color: white;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility linear 0.5s, opacity 0.5s linear;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.alert-dialog.show {
  visibility: visible;
  opacity: 1;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.navbar {
  height: 50px;
  background-color: #0070BB;
  display: flex;
  align-items: center;
  position: relative;
}
.navbar__logo-about {
  height: 45px;
}
.navbar__menu-label {
  color: white;
  height: 42%;
  width: 44px;
  margin-right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar__menu-btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
}
.navbar__menu-btn:checked ~ .navbar__nav-links-container {
  height: calc(100vh - 50px);
}
.navbar__menu-btn:checked ~ .navbar__menu-label .navbar__menu-icon {
  background: transparent;
}
.navbar__menu-btn:checked ~ .navbar__menu-label .navbar__menu-icon::after {
  transform: rotate(-45deg);
  top: 0;
}
.navbar__menu-btn:checked ~ .navbar__menu-label .navbar__menu-icon::before {
  transform: rotate(45deg);
  top: 0;
}
.navbar__menu-icon {
  height: 2px;
  background-color: white;
  width: 18px;
  position: relative;
}
.navbar__menu-icon::after, .navbar__menu-icon::before {
  content: "";
  height: 2px;
  background-color: white;
  position: absolute;
  width: 100%;
  transition: all 0.2s ease-out;
}
.navbar__menu-icon::after {
  top: 5px;
}
.navbar__menu-icon::before {
  top: -5px;
}
.navbar__nav-links-container {
  list-style: none;
  position: absolute;
  top: 50px;
  background-color: #0070BB;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.navbar__nav-item {
  color: white;
}
.navbar__nav-link {
  position: relative;
  color: white;
  padding: 0.9rem;
  margin: 0 1px;
  overflow: hidden;
}
.navbar__nav-link::before {
  content: "";
  height: 1px;
  width: 0%;
  background: white;
  position: absolute;
  bottom: 4px;
  left: -9px;
  transition: 0.4s ease-out;
}
.navbar__nav-link:hover::before {
  width: 100%;
}

.user-navbar {
  margin-left: auto;
  color: white;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0 1rem;
}
.user-navbar__user-avatar {
  width: 35px;
}

@media screen and (min-width: 600px) {
  .navbar__menu-label, .navbar__menu-btn {
    display: none;
  }
  .navbar__nav-links-container {
    position: static;
    flex-direction: row;
    height: 100% !important;
    width: auto;
    background-color: #0070BB;
  }
  .user-navbar {
    order: 3;
  }
}
.main {
  margin-top: 50px;
  padding: 1.5rem 0;
  background-color: aliceblue;
  flex-grow: 1;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #0070BB;
  padding: 10px;
  position: relative;
}
.footer__logo {
  margin-left: 10px;
}
.footer__company-name {
  color: white;
  font-family: cursive;
}
.footer__contact-item {
  list-style: none;
}
.footer__contact-link {
  color: white;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.footer__contact-icon {
  font-size: 1rem;
}
.footer__contact-icon--facebook {
  color: white;
}
.footer__contact-icon--instagram {
  color: white;
}
.footer__contact-icon--linkedln {
  color: white;
}
.footer__contact-icon--copyright {
  color: white;
  font-size: 0.75rem;
  padding: 5px 0;
}

@media screen and (min-width: 600px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    overflow: hidden;
  }
  .footer__logo {
    margin-left: 13px;
  }
  .footer__contact-icon--copyright {
    font-size: 8px;
    position: absolute;
    bottom: 11px;
    right: 12px;
  }
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.header-about {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.navbar-about {
  height: 50px;
  background-color: #0070BB;
  display: flex;
  align-items: center;
  position: relative;
}
.navbar-about__logo-about {
  height: 45px;
}
.navbar-about__menu-label-about {
  color: white;
  height: 42%;
  width: 44px;
  margin-right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-about__menu-btn-about {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
}
.navbar-about__menu-btn-about:checked ~ .navbar-about__nav-links-container-about {
  height: calc(100vh - 50px);
}
.navbar-about__menu-btn-about:checked ~ .navbar-about__menu-label-about .navbar-about__menu-icon-about {
  background: transparent;
}
.navbar-about__menu-btn-about:checked ~ .navbar-about__menu-label-about .navbar-about__menu-icon-about::after {
  transform: rotate(-45deg);
  top: 0;
}
.navbar-about__menu-btn-about:checked ~ .navbar-about__menu-label-about .navbar-about__menu-icon-about::before {
  transform: rotate(45deg);
  top: 0;
}
.navbar-about__menu-icon-about {
  height: 2px;
  background-color: white;
  width: 18px;
  position: relative;
}
.navbar-about__menu-icon-about::after, .navbar-about__menu-icon-about::before {
  content: "";
  height: 2px;
  background-color: white;
  position: absolute;
  width: 100%;
  transition: all 0.2s ease-out;
}
.navbar-about__menu-icon-about::after {
  top: 5px;
}
.navbar-about__menu-icon-about::before {
  top: -5px;
}
.navbar-about__nav-links-container-about {
  list-style: none;
  position: absolute;
  top: 50px;
  background-color: #0070BB;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.navbar-about__nav-item-about {
  color: white;
}
.navbar-about__nav-link-about {
  position: relative;
  color: white;
  padding: 0.9rem;
  margin: 0 1px;
  overflow: hidden;
}
.navbar-about__nav-link-about::before {
  content: "";
  height: 1px;
  width: 0%;
  background: white;
  position: absolute;
  bottom: 4px;
  left: -9px;
  transition: 0.4s ease-out;
}
.navbar-about__nav-link-about:hover::before {
  width: 100%;
}

.user-navbar-about {
  margin-left: auto;
  color: white;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0 1rem;
}
.user-navbar-about__user-avatar-about {
  width: 35px;
}

@media screen and (min-width: 600px) {
  .navbar-about__menu-label-about, .navbar-about__menu-btn-about {
    display: none;
  }
  .navbar-about__nav-links-container-about {
    position: static;
    flex-direction: row;
    height: 100% !important;
    width: auto;
    background-color: #0070BB;
  }
  .user-navbar-about {
    order: 3;
  }
}
.main-about {
  background-image: url(/assets/images-pages/image1.jpg);
  background-size: cover;
  object-fit: cover;
  flex-grow: 1;
}

.about-tittle {
  margin-top: 50px;
  padding: 10px;
  text-align: center;
  font-family: cursive;
}

.about-container {
  justify-content: center;
  align-items: center;
  text-align: justify;
}
.about-container__text {
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75));
  color: white;
  background-color: transparent;
  outline: 1px solid #0070BB;
  border-radius: 4px;
  border: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  padding: 10px;
  margin-bottom: 10px;
}
.about-container__subtittle {
  text-align: center;
  padding: 10px;
  font-family: cursive;
}

.footer-about {
  display: grid;
  display: flex;
  flex-direction: column;
  background-color: #0070BB;
  padding: 10px;
  position: relative;
}
.footer-about__logo-about {
  margin-left: 10px;
}
.footer-about__company-name-about {
  color: white;
  font-family: cursive;
}
.footer-about__contact-item-about {
  list-style: none;
}
.footer-about__contact-link-about {
  color: white;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.footer-about__contact-icon-about {
  font-size: 1rem;
}
.footer-about__contact-icon-about--facebook {
  color: white;
}
.footer-about__contact-icon-about--instagram-about {
  color: white;
}
.footer-about__contact-icon-about--linkedln-about {
  color: white;
}
.footer-about__contact-icon-about--copyright-about {
  color: white;
  font-size: 0.75rem;
  padding: 5px 0;
}

@media screen and (min-width: 600px) {
  .footer-about {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    overflow: hidden;
  }
  .footer-about__logo-about {
    margin-left: 13px;
  }
  .footer-about__contact-icon-about--copyright-about {
    font-size: 8px;
    position: absolute;
    bottom: 11px;
    right: 12px;
  }
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header-contact {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.navbar-contact {
  height: 50px;
  background-color: #0070BB;
  display: flex;
  align-items: center;
  position: relative;
}
.navbar-contact__logo-contact {
  height: 45px;
}
.navbar-contact__menu-label-contact {
  color: white;
  height: 42%;
  width: 44px;
  margin-right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-contact__menu-btn-contact {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
}
.navbar-contact__menu-btn-contact:checked ~ .navbar-contact__nav-links-container-contact {
  height: calc(100vh - 50px);
}
.navbar-contact__menu-btn-contact:checked ~ .navbar-contact__menu-label-contact .navbar-contact__menu-icon-contact {
  background: transparent;
}
.navbar-contact__menu-btn-contact:checked ~ .navbar-contact__menu-label-contact .navbar-contact__menu-icon-contact::after {
  transform: rotate(-45deg);
  top: 0;
}
.navbar-contact__menu-btn-contact:checked ~ .navbar-contact__menu-label-contact .navbar-contact__menu-icon-contact::before {
  transform: rotate(45deg);
  top: 0;
}
.navbar-contact__menu-icon-contact {
  height: 2px;
  background-color: white;
  width: 18px;
  position: relative;
}
.navbar-contact__menu-icon-contact::after, .navbar-contact__menu-icon-contact::before {
  content: "";
  height: 2px;
  background-color: white;
  position: absolute;
  width: 100%;
  transition: all 0.2s ease-out;
}
.navbar-contact__menu-icon-contact::after {
  top: 5px;
}
.navbar-contact__menu-icon-contact::before {
  top: -5px;
}
.navbar-contact__nav-links-container-contact {
  list-style: none;
  position: absolute;
  top: 50px;
  background-color: #0070BB;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.navbar-contact__nav-item-contact {
  color: white;
}
.navbar-contact__nav-link-contact {
  position: relative;
  color: white;
  padding: 0.9rem;
  margin: 0 1px;
  overflow: hidden;
}
.navbar-contact__nav-link-contact::before {
  content: "";
  height: 1px;
  width: 0%;
  background: white;
  position: absolute;
  bottom: 4px;
  left: -9px;
  transition: 0.4s ease-out;
}
.navbar-contact__nav-link-contact:hover::before {
  width: 100%;
}

.user-navbar-contact {
  margin-left: auto;
  color: white;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0 1rem;
}
.user-navbar-contact__user-avatar-contact {
  width: 35px;
}

.iframe-container__nav-iframe {
  color: white;
  padding: 10px;
  margin-left: 5px;
}

@media screen and (min-width: 600px) {
  .navbar-contact__menu-label-contact, .navbar-contact__menu-btn-contact {
    display: none;
  }
  .navbar-contact__nav-links-container-contact {
    position: static;
    flex-direction: row;
    height: 100% !important;
    width: auto;
    background-color: #0070BB;
  }
  .user-navbar-contact {
    order: 3;
  }
}
.main-contact {
  background-image: url(/assets/images-pages/image1.jpg);
  background-size: cover;
  object-fit: cover;
  flex-grow: 1;
}

.form-container-contact {
  padding: 1rem 1rem 0;
}

.form-contact {
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75));
  text-align: center;
  margin-top: 6rem;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}
.form-contact__nav-input {
  color: white;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}
.form-contact:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}
.form-contact__label {
  color: white;
  padding: 0.5rem;
}
.form-contact__input {
  padding: 0.25rem;
  margin: 0.4rem 0;
  background-color: transparent;
  outline: 1px solid #0070BB;
  border: none;
  border-radius: 4px;
  color: white;
}
.form-contact__textarea {
  margin: 0.4rem 0;
  padding: 0.25rem;
  background-color: transparent;
  outline: 1px solid #0070BB;
  border-radius: 4px;
}
.form-contact__footer-btn {
  color: black;
  padding: 1rem 0;
}
.form-contact__btn-contact {
  padding: 8px;
  color: #0070BB;
  border: 1px solid #0070BB;
  border-radius: 4px;
  transition: all 400ms ease;
}
.form-contact__btn-contact:hover {
  background-color: #0070BB;
  color: white;
}

.iframe-container {
  text-align: center;
  margin-bottom: 2rem;
}
.iframe-container__nav-iframe {
  font-weight: bold;
  font-size: 1.5rem;
}

@media screen and (min-width: 600px) {
  .form-container-contact {
    align-items: center;
    justify-content: center;
  }
  .form-contact {
    margin-bottom: 20px;
  }
  .form-contact__main {
    padding: 0 10px;
  }
  .footer-contact {
    background-color: #0070BB;
    padding: 1rem;
  }
  .form-container-contact {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
  }
  .form-contact__nav-input {
    padding-left: 1rem;
  }
  .form-contact__input {
    padding-left: 1rem;
  }
  .iframe-container__img {
    width: 400px;
    height: 285px;
  }
}
.footer-contact {
  display: grid;
  display: flex;
  flex-direction: column;
  background-color: #0070BB;
  padding: 10px;
  position: relative;
}
.footer-contact__logo-contact {
  margin-left: 10px;
}
.footer-contact__company-name-contact {
  color: white;
  font-family: cursive;
}
.footer-contact__contact-item-contact {
  list-style: none;
}
.footer-contact__contact-link-contact {
  color: white;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.footer-contact__contact-icon-contact {
  font-size: 1rem;
}
.footer-contact__contact-icon-contact--facebook-contact {
  color: white;
}
.footer-contact__contact-icon-contact--instagram-about-contact {
  color: white;
}
.footer-contact__contact-icon-contact--linkedln-contact {
  color: white;
}
.footer-contact__contact-icon-contact--copyright-contact {
  color: white;
  font-size: 0.75rem;
  position: absolute;
  bottom: 15px;
  right: 5px;
}

@media screen and (min-width: 600px) {
  .footer-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    overflow: hidden;
  }
  .footer-contact__logo-contact {
    margin-left: 13px;
  }
  .footer-contact__contact-icon-contact--copyright-contact {
    font-size: 8px;
    position: absolute;
    bottom: 18px;
    right: 12px;
  }
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.section-cards__header {
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
}
.section-cards__title {
  font-family: cursive;
  color: #0070BB;
}
.section-cards__subtitle {
  font-size: 1rem;
  padding-left: 1rem;
}
.section-cards__category {
  padding: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
}
.section-cards__products-count {
  font-size: 0.75rem;
  padding-top: 0.4rem;
}
.section-cards__products-search-container {
  padding: 1rem;
}

.product-search__btn {
  border: 1px #0070BB;
  border-radius: 4px;
  padding: 1px 10px;
  background-color: #0070BB;
  color: white;
}
.product-search__label {
  font-size: 0.75rem;
}
.product-search__input {
  color: #0070BB;
  padding: 1px 10px;
  border: 1px solid #0070BB;
  border-radius: 4px;
  transition: all 400ms ease;
}
.product-search__input:hover {
  background-color: #0070BB;
  color: white;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

@media screen and (min-width: 1000px) {
  .section-cards__header {
    display: flex;
  }
  .section-cards__products-count {
    margin-left: 50px;
  }
  .product-search__btn {
    padding: 2px 10px;
  }
  .product-search__label {
    margin-left: 94px;
    font-size: 0.95rem;
  }
  .product-search__input {
    padding: 2px 10px;
  }
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header-form {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.navbar-form {
  height: 50px;
  background-color: #0070BB;
  display: flex;
  align-items: center;
  position: relative;
}
.navbar-form__logo-about {
  height: 45px;
}
.navbar-form__menu-label-form {
  color: white;
  height: 42%;
  width: 44px;
  margin-right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-form__menu-btn-form {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
}
.navbar-form__menu-btn-form:checked ~ .navbar-form__nav-links-container-form {
  height: calc(100vh - 50px);
}
.navbar-form__menu-btn-form:checked ~ .navbar-form__menu-label-form .navbar-form__menu-icon-form {
  background: transparent;
}
.navbar-form__menu-btn-form:checked ~ .navbar-form__menu-label-form .navbar-form__menu-icon-form::after {
  transform: rotate(-45deg);
  top: 0;
}
.navbar-form__menu-btn-form:checked ~ .navbar-form__menu-label-form .navbar-form__menu-icon-form::before {
  transform: rotate(45deg);
  top: 0;
}
.navbar-form__menu-icon-form {
  height: 2px;
  background-color: white;
  width: 18px;
  position: relative;
}
.navbar-form__menu-icon-form::after, .navbar-form__menu-icon-form::before {
  content: "";
  height: 2px;
  background-color: white;
  position: absolute;
  width: 100%;
  transition: all 0.2s ease-out;
}
.navbar-form__menu-icon-form::after {
  top: 5px;
}
.navbar-form__menu-icon-form::before {
  top: -5px;
}
.navbar-form__nav-links-container-form {
  list-style: none;
  position: absolute;
  top: 50px;
  background-color: #0070BB;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.navbar-form__nav-item-form {
  color: white;
}
.navbar-form__nav-link-form {
  position: relative;
  color: white;
  padding: 0.9rem;
  margin: 0 1px;
  overflow: hidden;
}
.navbar-form__nav-link-form::before {
  content: "";
  height: 1px;
  width: 0%;
  background: white;
  position: absolute;
  bottom: 4px;
  left: -9px;
  transition: 0.4s ease-out;
}
.navbar-form__nav-link-form:hover::before {
  width: 100%;
}

.user-navbar-form {
  margin-left: auto;
  color: white;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0 1rem;
}
.user-navbar-form__user-avatar-form {
  width: 35px;
}

@media screen and (min-width: 600px) {
  .navbar-form__menu-label-form, .navbar-form__menu-btn-form {
    display: none;
  }
  .navbar-form__nav-links-container-form {
    position: static;
    flex-direction: row;
    height: 100% !important;
    width: auto;
    background-color: #0070BB;
  }
  .user-navbar-form {
    order: 3;
  }
}
.form {
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75));
  max-width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  border: 1px solid #0070BB;
  padding: 15px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}
.form:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}
.form__input-form {
  color: white;
  background-color: transparent;
  outline: 1px solid #0070BB;
  width: 100%;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  padding: 0.25rem;
}
.form__label-form {
  color: white;
}
.form__radio {
  margin: 5px;
  color: white;
}
.form__footer-form {
  margin: 5px 0;
}
.form__btn-form-footer {
  padding: 8px;
  color: #0070BB;
  border: 1px solid #0070BB;
  border-radius: 4px;
  transition: all 400ms ease;
}
.form__btn-form-footer:hover {
  background-color: #0070BB;
  color: white;
}

.main-form {
  padding: 4rem 1rem;
  flex-grow: 1;
  background-image: url(/assets/images-pages/image1.jpg);
  background-size: cover;
}
.main-form__tittle-form {
  color: white;
  text-align: center;
  border-bottom: 1px solid #0070BB;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.footer-form {
  display: grid;
  display: flex;
  flex-direction: column;
  background-color: #0070BB;
  padding: 10px;
  position: relative;
}
.footer-form__logo-about {
  margin-left: 10px;
}
.footer-form__company-name-form {
  color: white;
  font-family: cursive;
}
.footer-form__contact-item-form {
  list-style: none;
}
.footer-form__contact-link-form {
  color: white;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.footer-form__contact-icon-form {
  font-size: 1rem;
}
.footer-form__contact-icon-form--facebook-form {
  color: white;
}
.footer-form__contact-icon-form--instagram-form {
  color: white;
}
.footer-form__contact-icon-form--linkedln-form {
  color: white;
}
.footer-form__contact-icon-form--copyright-form {
  color: white;
  font-size: 0.75rem;
  position: absolute;
  bottom: 15px;
  right: 5px;
}

@media screen and (min-width: 600px) {
  .footer-form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    overflow: hidden;
  }
  .footer-form__logo-form {
    margin-left: 13px;
  }
  .footer-form__contact-icon-form--copyright-form {
    font-size: 8px;
    position: absolute;
    bottom: 18px;
    right: 12px;
  }
}