*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.titlle-user{
padding:1rem;
text-transform: uppercase;
font-size: 1.5rem;
text-align: center;
font-family:cursive;
color:$color-bg-secundary;
margin-top: 4rem;
}
.main-user{
    flex-grow: 1;
}
.containerUser{
display: flex;
flex-direction: column;
gap: 1rem ;
margin-bottom: 2rem;

}

// ================================================header======================================

.header-user{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.navbar-user{
    height: 50px;
    background-color: $color-bg-secundary;
    display: flex;
    align-items: center;
    position: relative;
    &__logo-user{
    height: 45px;
    }
    &__menu-label-user{
    color: $color-text-ligth;
    height: 42%;
    width: 44px;
    margin-right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    &__menu-btn-user{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    }
    &__menu-btn-user:checked ~ .navbar-user__nav-links-container-user {
    height:calc(100vh - 50px);
    }
    &__menu-btn-user:checked ~ &__menu-label-user &__menu-icon-user{
    background: transparent;
    &::after{
    transform: rotate(-45deg);
    top: 0;
    }
    &::before{
    transform: rotate(45deg);
    top: 0;
    }
    }
    &__menu-icon-user{
    height: 2px;
    background-color: $color-text-ligth;
    width: 18px;
    position: relative;
    &::after, &::before{
    content: "";
    height: 2px;
    background-color: $color-text-ligth;
    position: absolute;
    width: 100%;
    transition: all .2s ease-out;
    }
    &::after{
    top: 5px;
    }
    &::before{
    top: -5px;}
    }     
    &__nav-links-container-user{
    list-style: none;
    position: absolute;
    top: 50px;
    background-color: $color-bg-secundary;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height .3s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    }
    &__nav-item-user{
    color: $color-text-ligth;   
    }
    &__nav-link-user{
    position: relative;
    color: $color-text-ligth;
    padding: .90rem;
    margin: 0 1px;
    overflow: hidden;
    &::before{
    content: "";
    height: 1px;
    width: 0%;
    background: $color-text-ligth;
    position: absolute;
    bottom: 4px;
    left: -9px;
    transition: 0.4s ease-out;
    }
    &:hover::before{
    width:100% ;
    }
    }    
}

.user-navbar-user{
    margin-left: auto;
    color: $color-text-ligth;
    display: flex;
    gap: .5rem;
    align-items: center;
    padding: 0 1rem;
    &__user-avatar-user{
    width: 35px;
    }
    &__cart-icon-container-user{
        margin-right: .5rem ;
        position: relative;
        }
    &__cart-badge-user{
        position: absolute;
        top: -8px;
        right: -8px;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background-color: $color-bg-red;
        color: $color-text-ligth;
        font-size: 12px;
        text-align: center;
        }




}

@media screen and (min-width: 600px){
    .navbar-user{
    &__menu-label-user, &__menu-btn-user{
    display: none;
    }
    &__nav-links-container-user{
    position: static;
    flex-direction: row;
    height: 100% !important;
    width: auto ;
    background-color: $color-bg-secundary;
    }
    }
    .user-navbar-user{
    order: 3;
    }
    }




// ================================================================================================
.table-userContainer{
margin-left: auto;
margin-right: auto;
}
.table-user{
background-color: $color-text-ligth ;
border-collapse: collapse;
border-color: $color-bg-secundary;
&__thead{
    background-color: $color-bg-secundary;
    color: $color-text-ligth;
}
&__td{
    background-color: $color-bg-secundary;
    color: $color-text-ligth;
    font-size: .75rem;
}
&__th{
    border: 2px solid $color-bg-secundary;
    font-size: .75rem;
    padding: .5rem;
&__tr{
    padding: .5rem;
}
}
}
.user{
background-color: aliceblue;
&__fullname{
    text-align: center;
}
&__email{
    width: 30%;
    text-align: justify;
    padding: 10px;
}
&__role{
    font-weight: bold;
    text-align: center;
}
&__actions{
vertical-align: center;
text-align: center;
font-size: 1.75rem;
}
&__actions-btn{
background-color: $color-bg-red;
border: none;
padding: 0.25rem;
border-radius: 2px;
color: $color-text-ligth;
}
&__actions-btn:hover{
    background-color: $color-bg1-red ;
}
&__actions-btn--edit{
    background-color: $color-bg-secundary;
}
&__actions-btn--edit:hover{
    background-color: $color-bg1-secundary;
}
}
.table-user tr td:not(:first-child) {
padding: .5rem;
}
.table-user tbody tr:nth-child(odd) {
background-color: rgb(161, 198, 212) ;
}

.form-user{
padding: 2rem;
// border: 1px solid $color-bg-secundary;
margin-left: auto;
margin-right: auto;
&__input-box{
margin-bottom: 1rem;
}
&__input-user{
    margin: 10px 0;
padding: 3px;
background-color: transparent;
outline: 1px solid $color-bg-secundary;
width: 100%;
margin: 10px 0;
border: none;
border-radius: 5px;
padding: 0.25rem;
}
&__submit-btn-container-user{
    color: $color-bg-primary;
    padding: 5px;
    text-align: center;
    margin-top: 10px;
}
&__submit-user{
padding: 8px;
color:$color-bg-secundary;
border: 1px solid $color-bg-secundary;
border-radius: 4px;
transition: all 400ms ease;
}
&__submit-user:hover{
    background-color: $color-bg-secundary;
    color: $color-text-ligth;
}
}
.edit-btn {
    background-color: $color-bg-primary;
    border-color: $color-text-ligth;
    color: $color-text-ligth;
}

@media screen and (min-width: 1000px) {
.containerUser{
flex-direction: row;
padding-top: 3rem;
}
.titlle-user{
    font-size: 18px;
    text-align: left;
}
}
// ==================================================================================================

.footer-user{
    display: grid;
    display: flex;
    flex-direction: column;
    background-color: $color-bg-secundary;
    padding: 10px;
    position: relative;
    &__logo-user{
    margin-left: 10px;
    }
    &__company-name-user{
    color:$color-text-ligth;
    font-family: cursive;    
    }
    &__contact-item-user{
    list-style: none;
    }
    &__contact-link-user{
    color: $color-text-ligth;
    padding: .25rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    }
    &__contact-icon-user{
    font-size: 1rem ;
    &--facebook{
        color: $color-text-ligth ;
    }
    &--instagram-user{
    color:$color-text-ligth ;
    }
    &--linkedln-user{
    color: $color-text-ligth ;
    }
    &--copyright-user{
    color:$color-text-ligth ;
    font-size: .75rem;
    padding: 5px 0;
    
    }
    }
}
    @media screen and (min-width: 600px) {
    .footer-user{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        position: relative;
        overflow: hidden;
        &__logo-user{
        margin-left: 13px;
        }
        &__contact-icon-user{
        &--copyright-user{
        font-size: 8px;
        position: absolute;
        bottom: 11px;
        right: 12px;
        }
        }
        }
    }