*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container1{
display: flex;
flex-direction: column;
gap: 1rem ;

}
.table-container{
width: 100vw;
overflow-x: scroll;
margin-left: auto;
margin-right: auto;
}
.table-product{
background-color: $color-text-ligth ;
border-collapse: collapse;
border-color: $color-bg-secundary;
&__thead{
    background-color: $color-bg-secundary;
    color: $color-text-ligth;
}
&__td{
    background-color: $color-bg-secundary;
    color: $color-text-ligth;
    font-size: .75rem;
}
&__th{
    border: 2px solid $color-bg-secundary;
    font-size: .75rem;
    padding: .5rem;
&__tr{
    padding: .5rem;

}
}
}
.product{
&__img{
    background-color: black;
}
&__img--cell{
    width: 75px;
    object-fit: cover ;
    height: 75px;
    border-radius: 50%;
    display: block;
    margin:0 auto ;
    background-color: $color-text-ligth;
    padding: 10px;
}
&__name{
    text-align: center;
}
&__description{
    width: 30%;
    text-align: justify;
    padding: 10px;
}
&__price{
    font-weight: bold;
    text-align: center;
}
&__actions{
vertical-align: center;
text-align: center;
font-size: 1.75rem;
}
&__actions-btn{
background-color: $color-bg-red;
border: none;
padding: 0.25rem;
border-radius: 2px;
color: $color-text-ligth;
}
&__actions-btn:hover{
    background-color: $color-bg1-red ;
}
&__actions-btn--edit{
    background-color: $color-bg-secundary;
}
&__actions-btn--edit:hover{
    background-color: $color-bg1-secundary;
}
&__actions-btn--favorite{
    background-color: $color-bg-yellow;
}
&__actions-btn--favorite.active{
    background-color: $color-bg1-yellow;
}
&__actions-btn--favorite:hover{
    background-color: $color-bg1-yellow ;
}
}
.table-product tr td:not(:first-child) {
padding: .5rem;
}
.table-product tbody tr:nth-child(odd) {
background-color: rgb(161, 198, 212) ;
}

.form-product{
padding: 2rem;
border: 1px solid $color-bg-secundary;

margin-left: auto;
margin-right: auto;
// width: 100vw;

&__input-box{
    margin-bottom: 1rem;

}
&__submit-btn-container{
    color: $color-bg-primary;
}
&__submit-btn{

    padding: 8px;
    color:$color-bg-secundary;
    border: 1px solid $color-bg-secundary;
    border-radius: 4px;
    transition: all 400ms ease;
}
&__submit-btn:hover{
    background-color: $color-bg-secundary;
    color: $color-text-ligth;
}
}
.edit-btn {
    background-color: $color-bg-primary;
    border-color: $color-text-ligth;
    color: $color-text-ligth;
}

@media screen and (min-width: 1000px) {
.container1{
flex-direction: row;
}
.table-container{
overflow-x: auto;
}
}








