.header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.navbar{
    height: 50px;
    background-color: $color-bg-secundary;
    display: flex;
    align-items: center;
    position: relative;
    &__logo-about{
    height: 45px;
    }
    &__menu-label{
    color: $color-text-ligth;
    height: 42%;
    width: 44px;
    margin-right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    &__menu-btn{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    }
    &__menu-btn:checked ~ .navbar__nav-links-container{
    height:calc(100vh - 50px);
    }
    &__menu-btn:checked ~ &__menu-label &__menu-icon{
    background: transparent;
    &::after{
    transform: rotate(-45deg);
    top: 0;
    }
    &::before{
    transform: rotate(45deg);
    top: 0;
    }
    }
    &__menu-icon{
    height: 2px;
    background-color: $color-text-ligth;
    width: 18px;
    position: relative;
    &::after, &::before{
    content: "";
    height: 2px;
    background-color: $color-text-ligth;
    position: absolute;
    width: 100%;
    transition: all .2s ease-out;
    }
    &::after{
    top: 5px;
    }
    &::before{
    top: -5px;}
    }     
    &__nav-links-container{
    list-style: none;
    position: absolute;
    top: 50px;
    background-color: $color-bg-secundary;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height .3s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    }
    &__nav-item{
    color: $color-text-ligth;   
    }
    &__nav-link{
    position: relative;
    color: $color-text-ligth;
    padding: .90rem;
    margin: 0 1px;
    overflow: hidden;
    &::before{
    content: "";
    height: 1px;
    width: 0%;
    background: $color-text-ligth;
    position: absolute;
    bottom: 4px;
    left: -9px;
    transition: 0.4s ease-out;
    }
    &:hover::before{
    width:100% ;
    }
    }    
}

.user-navbar{
    margin-left: auto;
    color: $color-text-ligth;
    display: flex;
    gap: .5rem;
    align-items: center;
    padding: 0 1rem;
    &__user-avatar{
    width: 35px;
    }
    &__cart-icon-container{
    margin-right: .5rem ;
    position: relative;
    }
    &__cart-badge{
    position: absolute;
    top: -8px;
    right: -8px;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: $color-bg-red;
    color: $color-text-ligth;
    font-size: 12px;
    text-align: center;
    }
}

@media screen and (min-width: 600px){
    .navbar{
    &__menu-label, &__menu-btn{
    display: none;
    }
    &__nav-links-container{
    position: static;
    flex-direction: row;
    height: 100% !important;
    width: auto ;
    background-color: $color-bg-secundary;
    }
    }
    .user-navbar{
    order: 3;
    }
}