$color-bg-primary: rgb(114, 150, 250);
$color-bg-secundary:rgba(0, 0, 255, 0.87);
$color-dark-gray: rgb(184, 174, 174);

$color-bg-primary: rgb(0, 68, 255);
$color-bg-secundary:grey;
$color-text-ligth:white
