$color-bg-primary: black;
$color-bg-secundary: #0070BB;
$color-bg1-secundary:rgb(73,162,250);
$color-dark-gray: rgb(184, 174, 174);
$color-text-ligth:white;
$color-bg-red:red;
$color-bg1-red: rgb(199,1,1);
$color-bg-yellow: rgb(189, 160, 56);
$color-bg1-yellow: rgb(223, 223, 10)

